<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
        <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://api.trello.com/1/client.js?key=59145c7cf3859d3a7eaf46cfdec68e9f"></script>
    <title>Document</title>
</head>

<body>
    <h1>hi</h1>

    <input type="text" id="test" placeholder="enter some data to go into potential" value=""/>
    <button onclick="addCard()">Add to trello</button>
    <script src="test.js"></script>

</body>
</html>
